.git
.idea
.env
.ssh
.tmp
.venv
deployment/.terraform
deployment/.env.deploy
deployment/*.tfstate
deployment/*.tfstate.*
deployment/*.tfvars
deployment/*.tfvars.json

bin/
etl/

*.db
*.pyc
__pycache__/
