.venv
.idea
.env
.ssh/
.tmp
__pycache__/
*.py[cod]

docs/
etl/*
!etl/scripts/
etl/scripts/*
!etl/scripts/import_overture_divisions.py

bin/*
!bin/.gitkeep

deployment/.terraform/
deployment/*.tfstate
deployment/*.tfstate.*
deployment/*.tfvars
deployment/*.tfvars.json

# OpenTofu/Terraform local artifacts
deployment/.terraform.lock.hcl
